<div class="row">
    <% if obj.errors.any?%>
    <h5>Errors: </h5>
      <ul class="list-group list-group-flush">
        <% obj.errors.full_messages.each do |err|%>
          <li class="list-group-item"><span><%= fa_icon "exclamation" %></span> <%= err %></li>
        <% end %>
      </ul>
    <% end %>
  </div>