<div class="row">
  <div class="col-md-4">
    <% if obj.errors.any?%>
      <ul class="list-group list-group-flush">
        <% obj.errors.full_messages.each do |err|%>
          <li class="list-group-item"><span><%= fa_icon "exclamation" %></span> <%= err %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>