<div class='container-fluid'>
  <div class='row py-3 px-3'>
    <div class='col-12 col-sm-8'>
      <h3 class=''>Cart</h3>
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% @cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td>x<%= cart_item.quantity %></td>
            <td><%= cart_item.item.price %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <hr>
      Total: <%= @total %>
    </div>
  </div>