<div class="card mt-4">
    <div class="card-header"> <h1><%= @item.name %> - $<%=@item.price%></h1>
    </div>
    <img class="card-img-top img-fluid" src="https://9to5mac.com/wp-content/uploads/sites/6/2018/11/iphone-8-plus-space-gray.jpg" alt="">
        <div class="card-body">
        <h2><%=@item.quantity%> in stock! </h2>
        <p class="align-center card-text"> 
        <u>Item Description</u> <br>
        <%=@item.description%> 
        </p>
    </div>
 </div>