@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "./users.scss";
@import "./items.scss";
@import "./home.scss";


a {
  text-decoration: none;
}

img {
  height: 200px;
  width: 300px;
  margin: 0 auto;

}

#login-form {
  margin: 0 auto;
  margin-top: 150px;
}

.btn-block {
  margin: 0 auto;
}

#signup-form {
  margin: 0 auto;
  margin-top: 30px;
}

.toast-top-center {
  top: 20px;
  margin: 0 auto;
}

.avatar {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50%;
}

.img-fluid{
  width: 500px;
  height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.card-text{
  text-align: center;
}
// Home page
.welcome {
  margin: 30px auto;  
}

// Profile page
.jumbotron { 
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
}

.profile-pic {
display: inline;
margin: 0 auto;
margin-left: -25%; //centers the image
height: 100%;
width: auto;
}

.profile-heading {
  text-align: center;
}

// Item form
