@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "./users.scss";
@import "./items.scss";
@import "./home.scss";


a {
  text-decoration: none;
}

img {
  height: 200px;
  width: 300px;
  margin: 0 auto;

}

#login-form {
  margin: 0 auto;
  margin-top: 200px;
}

#signup-form {
  margin: 0 auto;
  margin-top: 30px;
}

.toast-top-center {
  top: 20px;
  margin: 0 auto;
}

.avatar {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50%;
}

.img-fluid{
  width: 500px;
  height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.card-text{
  text-align: center;
}
// Home page
.welcome {
  margin: 30px auto;  
}

// Profile page
.jumbotron { 
  padding-top: 40px;
  padding-bottom: 40px;
}
.cart-item{
  font-size: 20px;
}
