<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right ">
  <a class="navbar-brand" href="#">Flat-Azon!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      <%= link_to 'Create a Listing', new_item_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Login', login_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, method: 'delete', class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         current_user_options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">My Orders</a>
        </div>
      </li>
    </ul>
  </div>
</nav>